body {
    font-family: 'Arial', sans-serif;
    background: url('https://t3.ftcdn.net/jpg/03/23/12/42/360_F_323124237_SfGqpttZqU2mrMm61VPSWA2tKvc95l9O.jpg') center/cover fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#question-text {
    font-size: 1.8em;
    margin-bottom: 20px;
}

#answer-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: #4CAF50;
}

#next-button, #play-again {
    background-color: #4CAF50;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:hover, #play-again:hover {
    background-color: #45a049;
}
